* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  cursor: pointer;
  outline: none;
}
a {
  color: inherit !important;
}
.disable {
  opacity: 0.5;
}

a,
a:hover,
a:focus,
a:active {
  cursor: pointer;
}

/* override slick carousel style */

.slick-list {
  margin: 0 -5px;
}
.slick-slide > div {
  padding: 0 5px;
}

.slick-slide {
  width: unset;
}
/* 
.slick-arrow.slick-prev {
  display: none !important;
}
.slick-arrow.slick-next {
  display: none !important;
} */

/* ovverride material css style */

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: unset !important;
}
.css-cveggr-MuiListItemIcon-root {
  min-width: 36px !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root .MuiListItemText-root {
  margin-top: 10px !important;
  margin-bottom: 0;
}

.css-10hburv-MuiTypography-root {
  font-size: 0.8rem !important;
}
.css-ahj2mt-MuiTypography-root {
  font-size: 0.8rem !important;
}

.css-19v6clq-MuiPaper-root {
  box-shadow: unset !important;
}
.meneText.MuiBox-root.css-0 {
  font-size: 0.8rem !important;
}
.css-1q39md6-MuiButtonBase-root-MuiButton-root {
  font-size: 0.8rem !important
  ;
}

.MuiTypography-root.MuiTypography-p.MuiTypography-noWrap.css-6lb2jo-MuiTypography-root {
  font-size: 0.8rem !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.slider-card.css-bhp9pd-MuiPaper-root-MuiCard-root {
  cursor: pointer;
}

.css-1uwgr7b-MuiTypography-root {
  font-size: 0.8rem !important;
}
.MuiInputBase-root.MuiInputBase-colorPrimary.css-piqts5-MuiInputBase-root {
  padding: 0 15px !important;
}

.MuiListItemIcon-root.css-cveggr-MuiListItemIcon-root {
  margin-bottom: -8px;
}

.css-i4bv87-MuiSvgIcon-root {
  width: 0.8em !important;
  height: 0.8em !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root::before {
  background-color: unset !important;
}
.css-9sgtv1-MuiPaper-root-MuiAccordion-root::before {
  background-color: unset !important;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  margin-right: -19px;
  margin-top: 2px;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.userSiginIcon.css-i4bv87-MuiSvgIcon-root {
  width: 1.3em !important;
  height: 1.3em !important;
}
