.appbar {
  background-color: transparent !important;
  box-shadow: unset !important;
}

.logo {
  width: auto !important;
  height: 17px !important;
  margin-top: -2px;
}
.siteLinks {
  padding: 16px;
}
.link {
  font-size: 12px;
}

.link:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 12px;
  margin-top: 10px;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}
